@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Manrope", sans-serif;
   background-color: #ecf2f8;
   height: 100vh;
}

main {
   width: 100%;
   max-width: 780px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Left Side */

.drawers {
   height: 300px;
   width: 300px;
   border-radius: 15px 0 0 15px;
   margin: 0;
}

/* Right Side */
.decoration {
   display: flex;
   flex-direction: column;
   background: white;
   border-radius: 0 10px 10px 0;
   width: 500px;
   height: 300px;
}
.decoration > p:nth-child(1) {
   font-size: 22px;
   color: hsl(217, 19%, 35%);
   font-weight: 800;
   margin: 30px 30px 15px 30px;
}
.decoration > p:nth-child(2) {
   font-size: 15px;
   margin: 0px 30px 15px;
   color: hsl(214, 17%, 51%);
}
/* Display flex the profile */
.profile {
   display: flex;
   align-items: center;
   margin: 10px 30px 0 30px;
   position: relative;
}
.photo {
   width: 50px;
   border-radius: 50%;
}
.profile > p {
   margin-left: 15px;
   color: hsl(217, 19%, 35%);
   font-weight: 600;
}
.profile p span {
   color: hsl(214, 17%, 51%);
   font-weight: 300;
}
.share {
   position: absolute;
   right: 0;
   padding: 10px;
   border-radius: 50%;
   background-color: hsl(214, 28%, 89%);
   color: hsl(217, 19%, 35%);
   cursor: pointer;
   transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.share.active {
   transform: scale(1.2); /* Expansion */
   background-color: hsl(217, 19%, 35%); /* Change color */
   color: white; /* Change text color */
}

/* the NAV tag starts here  */
.nav-profile {
   position: relative;
}
.social-media {
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: hsl(217, 19%, 35%);
   width: 200px;
   height: 50px;
   border-radius: 10px;
}
.social-media.visible {
   display: flex;
}
nav {
   position: absolute;
   bottom: 60px;
   left: 295px;
}
nav p {
   font-size: 13px;
   color: hsl(214, 17%, 51%);
   font-weight: 600;
   text-align: center;
}
nav p,
.facebook:first-child {
   margin-left: 10px;
}
nav img:last-child {
   margin-right: 10px;
}
.falling-arrow {
   position: absolute;
   top: 100%;
   left: 50%;
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 15px solid hsl(217, 19%, 35%);
   animation: fall 2s infinite;
}

@media (max-width: 768px) {
   main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
   }
   .main {
      position: static;
   }
   .drawers {
      height: 250px;
      width: 350px;
      border-radius: 10px 10px 0 0;
      margin: 0px;
   }

   /* Right Side */
   .decoration {
      height: 380px;
      width: 350px;
      border-radius: 0 0 10px 10px;
   }
   .share {
      position: absolute;
      top: 50%;
      right: 15px;
      z-index: 1;
   }
   .social-media {
      display: none;
      justify-content: flex-start;
      width: 350px;
      height: 82px;
      padding: 0;
      border-radius: 0 0 10px 10px;
      align-items: left;
   }
   nav {
      position: absolute;
      top: 5px;
      left: -30px;
   }
   nav p {
      margin: 0 15px 0 15px;
   }
   nav img {
      margin: 0 15px 0 15px;
   }
   .falling-arrow {
      width: 0;
      height: 0;
      border: none;
   }
}
