@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Manrope", sans-serif;
   background-color: #ecf2f8;
   height: 100vh;
}

main {
   width: 100%;
   max-width: 780px;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* this main class is linked to the nav tag */
.main {
   position: fixed;
}
/* Left Side */

.drawers {
   height: 300px;
   width: 300px;
   border-radius: 15px 0 0 15px;
   margin: 0;
}

/* Right Side */
.decoration {
   display: flex;
   flex-direction: column;
   background: white;
   border-radius: 0 10px 10px 0;
   width: 500px;
   height: 300px;
}
.decoration p:nth-child(1) {
   font-size: 22px;
   color: hsl(217, 19%, 35%);
   font-weight: 800;
   margin: 30px 30px 15px 30px;
}
.decoration > p:nth-child(2) {
   font-size: 15px;
   margin: 0px 30px 15px;
   color: hsl(214, 17%, 51%);
}
/* Display flex the profile */
.profile {
   display: flex;
   align-items: center;
   margin: 10px 30px 0 30px;
   position: relative;
}
.photo {
   width: 50px;
   border-radius: 50%;
}
.profile p {
   margin-left: 15px;
   color: hsl(217, 19%, 35%);
   font-weight: 600;
}
.profile p span {
   color: hsl(214, 17%, 51%);
   font-weight: 300;
}
.share {
   position: absolute;
   right: 0;
   padding: 10px;
   border-radius: 50%;
   background-color: hsl(214, 28%, 89%);
   color: hsl(217, 19%, 35%);
   cursor: pointer;
}

/* the NAV tag starts here  */
.social-media {
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: hsl(217, 19%, 35%);
   padding: 10px 20px;
   border-radius: 10px;
}
.social-media.visible {
   display: flex;
}
nav {
   position: relative;
   top: 30px;
   left: 335px;
}
nav p {
   color: hsl(214, 17%, 51%);
   font-weight: 600;
}
nav p,
.facebook:first-child {
   margin-left: 10px;
}
nav img:last-child {
   margin-right: 10px;
}
.falling-arrow {
   position: absolute;
   top: 100%;
   left: 50%;
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 15px solid hsl(217, 19%, 35%); /* Couleur de la flèche */
   animation: fall 2s infinite;
}

@media (max-width: 768px) {
   main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
   }
   .main {
      position: static;
   }
   .drawers {
      height: 250px;
      width: 410px;
      border-radius: 10px 10px 0 0;
      margin: 0px;
   }

   /* Right Side */
   .decoration {
      height: 320px;
      width: 410px;
      border-radius: 0 0 10px 10px;
   }

   .social-media {
      width: 410px;
      height: 70px;
      padding: 0;
      border-radius: 0 0 10px 10px;
   }
   nav {
      
      position: relative;
      top: 70px;
      left: 40px;
   }
   .falling-arrow {
      width: 0;
      height: 0;
      border: none;
   }
}
